<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart_plant.smart_plant.mapper.AdminLoginLogMapper">

    <resultMap id="AdminLoginLogResultMap" type="com.smart_plant.smart_plant.entity.AdminLoginLog">
        <id column="id" property="id"/>
        <result column="admin_id" property="adminId"/>
        <result column="username" property="username"/>
        <result column="success" property="success"/>
        <result column="failure_reason" property="failureReason"/>
        <result column="ip" property="ip"/>
        <result column="user_agent" property="userAgent"/>
        <result column="login_time" property="loginTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.smart_plant.smart_plant.entity.AdminLoginLog">
        INSERT INTO `admin_login_log`
        (admin_id, username, success, failure_reason, ip, user_agent, login_time)
        VALUES
        (#{adminId}, #{username}, #{success}, #{failureReason}, #{ip}, #{userAgent}, #{loginTime})
    </insert>

    <select id="selectList" resultMap="AdminLoginLogResultMap">
        SELECT id, admin_id, username, success, failure_reason, ip, user_agent, login_time
        FROM `admin_login_log`
        <where>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="ip != null and ip != ''">
                AND ip LIKE CONCAT('%', #{ip}, '%')
            </if>
            <if test="success != null">
                AND success = #{success}
            </if>
            <if test="startTime != null">
                AND login_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND login_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY login_time DESC, id DESC
    </select>
</mapper>
