/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 5226415 */
  src: url('https://at.alicdn.com/t/c/font_5226415_sulxr7r8ge.woff2?t=1789999852397') format('woff2'),
       url('https://at.alicdn.com/t/c/font_5226415_sulxr7r8ge.woff?t=1789999852397') format('woff'),
       url('https://at.alicdn.com/t/c/font_5226415_sulxr7r8ge.ttf?t=1789999852397') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shexiangtou:before {
  content: "\e72b";
}

.icon-icon-shebeishuliang-shuibengxitong:before {
  content: "\e63e";
}

.icon-line-094:before {
  content: "\e760";
}

.icon-a-47-wendu:before {
  content: "\e71b";
}

.icon-buguangdeng:before {
  content: "\e6cc";
}

.icon-xitonggonggao:before {
  content: "\e624";
}

.icon-guzhangchuli:before {
  content: "\e681";
}

.icon-icon-you:before {
  content: "\e68e";
}

.icon-xiala:before {
  content: "\e61a";
}

.icon-zuo:before {
  content: "\e607";
}

.icon-shang:before {
  content: "\e608";
}

.icon-changjianwentixiangguanwenti2:before {
  content: "\e679";
}

.icon-fankui-tianchong:before {
  content: "\e652";
}

.icon-fasongyoujian:before {
  content: "\e667";
}

.icon-shijian:before {
  content: "\e63c";
}

.icon-dianhua:before {
  content: "\e623";
}

.icon-guanyuwomen1:before {
  content: "\e63d";
}

.icon-shuangyezi:before {
  content: "\e730";
}

.icon-bazi1:before {
  content: "\e8ee";
}

.icon-shouji:before {
  content: "\e63b";
}

.icon-suoding:before {
  content: "\e680";
}

.icon-disanfangzhanghaobangding:before {
  content: "\e655";
}

.icon-a-typeyonghustyledunpai:before {
  content: "\e6a8";
}

.icon-dingwei1:before {
  content: "\e619";
}

.icon--ss-yezi:before {
  content: "\e67f";
}

.icon-rili:before {
  content: "\f4bd";
}

.icon-a-44tubiao-41:before {
  content: "\e695";
}

.icon-saoma:before {
  content: "\e995";
}

.icon-tianjia1:before {
  content: "\e622";
}

.icon-shezhi:before {
  content: "\e67e";
}

.icon-bangzhu:before {
  content: "\e617";
}

.icon-guanyuwomen:before {
  content: "\e645";
}

.icon-a-kefukefuzhongxin:before {
  content: "\e63a";
}

.icon-nongshijilu:before {
  content: "\e7a2";
}

.icon-weihu:before {
  content: "\e644";
}

.icon-zhongxue:before {
  content: "\e609";
}

.icon-xiaoxue:before {
  content: "\e60f";
}

.icon-zhenyu:before {
  content: "\e635";
}

.icon-leizhenyu:before {
  content: "\e614";
}

.icon-daxue:before {
  content: "\e615";
}

.icon-baoxue:before {
  content: "\e671";
}

.icon-yujiaxue:before {
  content: "\e637";
}

.icon-wumai:before {
  content: "\e621";
}

.icon-bingbao:before {
  content: "\e639";
}

.icon-caishouguanli:before {
  content: "\e612";
}

.icon-iconkaishixiaodu:before {
  content: "\e685";
}

.icon-jiaoshuihu-:before {
  content: "\e605";
}

.icon-shifei:before {
  content: "\e618";
}

.icon-renwu-:before {
  content: "\e642";
}

.icon-xiazai:before {
  content: "\e638";
}

.icon-quxiao:before {
  content: "\e633";
}

.icon-shanchu:before {
  content: "\e634";
}

.icon-quanxuan:before {
  content: "\e60b";
}

.icon-paizhao:before {
  content: "\e8d1";
}

.icon-wenjian:before {
  content: "\e64c";
}

.icon-tianjia:before {
  content: "\e606";
}

.icon-yuyin:before {
  content: "\e68d";
}

.icon-xianshi:before {
  content: "\e69a";
}

.icon-yincang:before {
  content: "\e69b";
}

.icon-guangzhaoqiangdu:before {
  content: "\e9ba";
}

.icon-app_icons--:before {
  content: "\e620";
}

.icon-fengsu:before {
  content: "\e646";
}

.icon-qiya:before {
  content: "\e6c0";
}

.icon-eryanghuatannongdu:before {
  content: "\e674";
}

.icon-xuanzeqizhankai_o:before {
  content: "\eb8d";
}

.icon-xuanzeqishouqi_o:before {
  content: "\eb9b";
}

.icon-shangjiantou:before {
  content: "\e632";
}

.icon-shidu1:before {
  content: "\e60a";
}

.icon-wendu1:before {
  content: "\e611";
}

.icon-shuiwen:before {
  content: "\e6a7";
}

.icon-linhuaqingnongdu:before {
  content: "\e60e";
}

.icon-journalism:before {
  content: "\e62c";
}

.icon-PHzhi:before {
  content: "\e75f";
}

.icon-rongjieyang:before {
  content: "\e62d";
}

.icon-a-aseECzhi:before {
  content: "\e66e";
}

.icon-jurassic_label:before {
  content: "\e69c";
}

.icon-bofang_o:before {
  content: "\eb5e";
}

.icon-bianji:before {
  content: "\e60d";
}

.icon-icon_33:before {
  content: "\e60c";
}

.icon-shaixuanxiajian:before {
  content: "\e77c";
}

.icon-fengji:before {
  content: "\e631";
}

.icon-shuizhijianceyi:before {
  content: "\e7ef";
}

.icon-tushi_turangshangqingyi:before {
  content: "\e601";
}

.icon-yujingtubiao:before {
  content: "\e61e";
}

.icon-ziyuan:before {
  content: "\e61d";
}

.icon-fanhui:before {
  content: "\e616";
}

.icon-reshuibeng:before {
  content: "\e61c";
}

.icon-gengduobianji:before {
  content: "\e6bd";
}

.icon-guzhang1:before {
  content: "\e955";
}

.icon-dengpao:before {
  content: "\e62e";
}

.icon-cangkuguanli:before {
  content: "\e67d";
}

.icon-youjiantou:before {
  content: "\e62b";
}

.icon-renwu:before {
  content: "\e656";
}

.icon-shishijiankong:before {
  content: "\e613";
}

.icon-zhuanjia:before {
  content: "\e602";
}

.icon-bingchonghai:before {
  content: "\e61f";
}

.icon-shebeiguanli:before {
  content: "\e610";
}

.icon-icon_haituntiaodu:before {
  content: "\e79a";
}

.icon-huanjingjiance:before {
  content: "\e67c";
}

.icon-morentupian-80pt:before {
  content: "\e759";
}

.icon-shidu:before {
  content: "\e62f";
}

.icon-wendu:before {
  content: "\e630";
}

.icon-dingwei:before {
  content: "\e636";
}

.icon-yezi_leaf-01:before {
  content: "\e6e3";
}

.icon-C-zhongyu:before {
  content: "\e73f";
}

.icon-yintian:before {
  content: "\e6a6";
}

.icon-rijiantianqi-duoyun:before {
  content: "\e654";
}

.icon-qing:before {
  content: "\e67b";
}

.icon-xiaoyu:before {
  content: "\e628";
}

.icon-dayu:before {
  content: "\e629";
}

.icon-baoyu:before {
  content: "\e62a";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-gerenzhongxin2:before {
  content: "\e61b";
}

.icon-icon_msg:before {
  content: "\e604";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-shouye:before {
  content: "\e603";
}

.icon-ditu:before {
  content: "\e868";
}

